<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Mansparsh
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h5>Login</h5>
    <form [formGroup]="register" (ngSubmit)="logForm()">
            <div class="check_div">
            <ion-input type="number" placeholder="Mobile Number" formControlName="mobile"></ion-input>
            </div>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['mobile'].valid && register.controls['mobile'].touched">Please Enter a mobile number</div>
        </div>
        <div class="check_div">
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </div>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['password'].valid && register.controls['password'].touched">Please Enter Password</div>
        </div>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button [disabled]="!register.valid" block icon-right>
            Login
        <ion-icon name="log-in"></ion-icon>
      </button>
            <p (click)="login()"> Forgot Password ? Click here</p>
            <p (click)="newUser()"> New Register ? Click here</p>
        </div>
    </form>
</ion-content>