<ion-header>
    <ion-navbar color="header">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="md-list"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title> Mansparsh</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="ios-funnel"></ion-icon>
             </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content >
        <img *ngIf="bannerData" style="width: 100%;
        height: 200px !important;" [src]="bannerData.image">
        <p *ngIf="!(user && user.member_id)" class="titleontop">Please <span (click)="open('1')">Login</span> or <span (click)="open('2')">Register</span> to Contact them directly</p>
     <ion-list>
        <ion-card *ngFor="let item of memberList;">
       <ion-item >
            <ion-row>
               <ion-col col-5>
                  <img [src]="item.image">
               </ion-col>
               <ion-col col-7>
                 <h2>{{item.name}}</h2>
                 <p>Plan: {{item.membership_type}}</p>
                 <p>Age: {{item.age}}</p>
                 <p>Education: {{item.education}}</p>
                 <p>Occupation: {{item.occupation}}</p>
                 <p>Annual Income: {{item.annual_income}}</p>
                 <p>Location: {{item.location}}</p>
               </ion-col>
            </ion-row>
       </ion-item>
       <ion-item *ngIf="!memberList.length">
          <ion-row>
             <h1>No Data Found</h1>
          </ion-row>
     </ion-item>
    </ion-card>
     </ion-list>
     <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isShow">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
