page-dashboard {
    .item-md {
        padding-left: 0px !important;
    }
    p{
        white-space: normal !important;
        margin-bottom: 5px !important;
    }
    h2{
        font-size: 1.9rem !important;
        margin-bottom: 5px !important;
        color: #FF6347 !important;
        white-space: normal !important;
    }
    img{
        height: 150px !important;
    }
   
}
