<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Mansparsh
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="register" (ngSubmit)="logForm()">
        <ion-row>
            <ion-col col-6>
                    <ion-item>
                            <ion-label floating>First Name</ion-label>
                            <ion-input type="text" formControlName="first_name"></ion-input>
                        </ion-item>
                        <div padding-horizontal>
                            <div class="alert" *ngIf="!register.controls['first_name'].valid && register.controls['first_name'].touched">Please Enter First Name</div>
                        </div>
            </ion-col>
            <ion-col col-6>
                    <ion-item>
                            <ion-label floating>Last Name</ion-label>
                            <ion-input type="text" formControlName="last_name"></ion-input>
                        </ion-item>
                        <div padding-horizontal>
                            <div class="alert" *ngIf="!register.controls['last_name'].valid && register.controls['last_name'].touched">Please Enter Last Name</div>
                        </div>
            </ion-col>
        </ion-row>
        <ion-list radio-group [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">
               <ion-row>
                    <ion-col col-6>
                            <ion-item>
                                    <ion-radio item-left value="1" checked></ion-radio>
                                    <ion-label>Male</ion-label>
                                </ion-item>
                        </ion-col>
                        <ion-col col-6>
                                <ion-item>
                                        <ion-radio item-left value="2"></ion-radio>
                                        <ion-label>Female</ion-label>
                                    </ion-item>
                        </ion-col>
               </ion-row>
            </ion-list>
            <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert" *ngIf="!register.controls['email'].valid && register.controls['email'].touched">Please Enter email</div>
                </div>
                <ion-item>
                        <ion-label>Date of Birth</ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}"></ion-datetime>
                      </ion-item>
        <ion-item>
            <ion-label floating>Mobile Number</ion-label>
            <ion-input type="number" formControlName="mobile"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['mobile'].valid && register.controls['mobile'].touched">Please Enter a mobile number</div>
        </div>
        <ion-item>
                <ion-label>On Behalf</ion-label>
                <ion-select interface="popover" [(ngModel)]="Behalf" [ngModelOptions]="{standalone: true}">
                    <ion-option *ngFor="let item of behalfs" [value]="item.on_behalf_id">{{item.name}}</ion-option>
                </ion-select>
            </ion-item>
        <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div padding-horizontal>
                <div class="alert" *ngIf="!register.controls['password'].valid && register.controls['password'].touched">Please Enter password</div>
            </div>
            <ion-item>
                    <ion-label floating>Confirm Password</ion-label>
                    <ion-input type="password" formControlName="confirmpassword"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert" *ngIf="!register.controls['confirmpassword'].valid && register.controls['confirmpassword'].touched">Please Enter Confirm Password</div>
                </div>
                <ion-item>
                        <ion-label>I accept Term and conditions</ion-label>
                        <ion-checkbox [(ngModel)]="agree" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                      </ion-item>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button [disabled]="!register.valid" block icon-right>
                Register
            <ion-icon name="log-in"></ion-icon>
          </button>
        </div>
    </form>
</ion-content>