<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Mansparsh
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
        <h5>Physical Attributes</h5>
    <form [formGroup]="register" (ngSubmit)="logForm()">
        <ion-row>
            <ion-col col-6>
                <ion-item  class="check_div">
                    <ion-label>Height</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Height" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Heightlist" [value]="item">{{item}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item  class="check_div">
                    <ion-label>Weight</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Weight" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Weightlist" [value]="item">{{item}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-item  class="check_div">
                    <ion-input type="text" placeholder="Eye Color" formControlName="eye_color"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert"
                        *ngIf="!register.controls['eye_color'].valid && register.controls['eye_color'].touched">Please
                        Enter Eye Color</div>
                </div>
            </ion-col>
            <ion-col col-6>
                <ion-item  class="check_div">
                    <ion-input type="text" placeholder="Hair Color" formControlName="hair_color"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert"
                        *ngIf="!register.controls['hair_color'].valid && register.controls['hair_color'].touched">Please
                        Enter Hair Color</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-item  class="check_div">
            <ion-label>Complextion</ion-label>
            <ion-select interface="popover" [(ngModel)]="Complextion" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Complextionlist" [value]="item">{{item}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item  class="check_div">
            <ion-label>Body Type</ion-label>
            <ion-select interface="popover" [(ngModel)]="BodyType" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of BodyTypelist" [value]="item">{{item}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-row>
            <ion-col col-6>
                <ion-item  class="check_div"> 
                    <ion-label>Drink</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Drink" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Smokelist" [value]="item.id">{{item.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item  class="check_div">
                    <ion-label>Smoke</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Smoke" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Smokelist" [value]="item.id">{{item.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item  class="check_div">
            <ion-label>Disability</ion-label>
            <ion-select interface="popover" [(ngModel)]="Disability" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Disabilitylist" [value]="item.id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item  class="check_div">
            <ion-label>Select Raashi</ion-label>
            <ion-select interface="popover" [(ngModel)]="Raashi" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Raashilist" [value]="item">{{item}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item  class="check_div">
            <ion-label>Diet</ion-label>
            <ion-select interface="popover" [(ngModel)]="Diet" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Dietlist" [value]="item">{{item}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item  class="check_div">
            <ion-label>Are you mangalik?</ion-label>
            <ion-select interface="popover" [(ngModel)]="mangalik" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Intercastelist" [value]="item.id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item  class="check_div">
            <ion-label>Intercaste Marriage accepted ?</ion-label>
            <ion-select interface="popover" [(ngModel)]="Intercaste" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Intercastelist" [value]="item.id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="check_div">
            <ion-textarea rows="5" placeholder="About You" formControlName="about_member"></ion-textarea>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['about_member'].valid && register.controls['about_member'].touched">
                Please Enter About You</div>
        </div>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button [disabled]="!register.valid" block icon-right>
                Next
            </button>
        </div>
    </form>
</ion-content>