<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Mansparsh
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
        <h5>Physical Attributes</h5>
    <form [formGroup]="register" (ngSubmit)="logForm()">
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Height</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-input type="number" placeholder="Enter weight" formControlName="mobile"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert"
                        *ngIf="!register.controls['mobile'].valid && register.controls['mobile'].touched">Please Enter a
                        mobile number</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-input type="text" placeholder="Eye Color" formControlName="language"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert"
                        *ngIf="!register.controls['language'].valid && register.controls['language'].touched">Please
                        Enter Mother Tangue Language</div>
                </div>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-input type="text" placeholder="Hair Color" formControlName="language"></ion-input>
                </ion-item>
                <div padding-horizontal>
                    <div class="alert"
                        *ngIf="!register.controls['language'].valid && register.controls['language'].touched">Please
                        Enter Mother Tangue Language</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label>Complextion</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Body Type</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Drink</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Smoke</ion-label>
                    <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label>Any Disability</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Select Raashi</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Diet</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Are you mangalik?</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Intercaste Marriage accepted ?</ion-label>
            <ion-select interface="popover" [(ngModel)]="Maritial" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let item of Maritiallist" [value]="item.marital_status_id">{{item.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>About You</ion-label>
            <ion-textarea rows="5" formControlName="address"></ion-textarea>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['address'].valid && register.controls['address'].touched">
                Please Enter complete Address</div>
        </div>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button [disabled]="!register.valid" block icon-right>
                Next
            </button>
        </div>
    </form>
</ion-content>